/* 定义变量开始 */
/* 主要尺寸去 组件其他尺寸根据此主尺寸按比例计算  若需跳转 请调整比例！！ */
/* u-btn */
/* m-h-nav */
/* m-f-nav.pat1 */
/* m-f-nav.pat2 */
/* m-s-nav */
/* m-pic_txt-pat1 */
/* m-pic_txt-pat2 */
/*  */
/* m-page */
/* m-table */
/* m-tab */
/* m-pop */
/* m-ser */
/* m-icon_btn */
/* m-rank */
/* m-slider */
/* m-more */
/* m-login  login */
/* 定义变量结束 */
/* 正文css开始 */
body {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}
p {
  margin: 0;
}
.cl {
  clear: both;
}
.db {
  display: block !important;
}
.dn {
  display: none !important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.vm {
  vertical-align: middle;
}
.tal {
  text-align: left !important;
}
.a-ori {
  color: #00E3EC !important;
  text-decoration: underline !important;
}
.ovh {
  overflow: hidden;
}
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1412731816_7261977.eot');
  src: url('http://at.alicdn.com/t/font_1412731816_7261977.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('http://at.alicdn.com/t/font_1412731816_7261977.woff') format('woff'), /* chrome、firefox */ url('http://at.alicdn.com/t/font_1412731816_7261977.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('http://at.alicdn.com/t/font_1412731816_7261977.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
}
/*元件通用样式开始*/
.freezy {
  /* 正文css结束 */
}
.freezy .u-btn {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0 1em;
  font-size: 80%;
  letter-spacing: 1px;
  word-spacing: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  padding: 0.8em 1.6em;
  background: #54aede;
  border: 0;
}
.freezy .u-btn:hover,
.freezy .u-btn:focus {
  background: #399dd8;
}
.freezy .m-h-nav ul li {
  float: left;
  padding: 1.6em 0;
  margin-right: 1.6em;
}
.freezy .m-h-nav ul li.last {
  margin-right: 0;
}
.freezy .m-h-nav ul li.active a {
  background-color: #0069A6;
}
.freezy .m-h-nav ul li a {
  padding: 0.8em 1.6em;
  color: white;
  background: #54aede;
  text-decoration: none;
}
.freezy .m-h-nav ul li a:hover {
  color: #fff;
  background: #399dd8;
}
.freezy .m-f-nav {
  font-size: 12px;
}
.freezy .m-f-nav.pat1 ul {
  float: left;
  width: 25%;
}
.freezy .m-f-nav.pat1 ul li {
  text-align: center;
}
.freezy .m-f-nav.pat1 ul li a {
  line-height: 150%;
  color: #898989;
  text-decoration: none;
}
.freezy .m-f-nav.pat1 ul li a:hover {
  text-decoration: underline;
}
.freezy .m-f-nav.pat2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.freezy .m-f-nav.pat2 ul li {
  float: left;
  margin-right: 1em;
}
.freezy .m-f-nav.pat2 ul li a {
  color: #898989;
  text-decoration: none;
  padding-right: 0.5em;
  border-right: 1px solid #898989;
}
.freezy .m-f-nav.pat2 ul li a:hover {
  color: #399dd8;
}
.freezy .m-f-nav.pat2 ul li.last a {
  border-right: 0;
}
.freezy .m-b-nav {
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px solid #C3C3C3;
  margin-bottom: 10px;
}
.freezy .m-b-nav a {
  text-decoration: none;
  color: #000;
}
.freezy .m-b-nav a:hover {
  text-decoration: underline;
  color: #0069A6;
}
.freezy .m-s-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  float: left;
  width: 200px;
  background-color: #292929;
}
.freezy .m-s-nav h3 a {
  color: #fff;
  font-size: 28px;
  text-decoration: none;
}
.freezy .m-s-nav ul li {
  margin-bottom: 10px;
}
.freezy .m-s-nav ul li a {
  display: block;
  color: #CACACA;
  text-decoration: none;
  font-size: 20px;
}
.freezy .m-s-nav ul li a:hover {
  background-color: #505050;
  color: #fff;
}
.freezy .m-s-nav ul li.active a {
  background-color: #505050;
  color: #fff;
}
.freezy .m-pic_txt.pat1 ul li {
  position: relative;
  padding-left: 110px;
  height: 100px;
  word-wrap: break-word;
  margin-bottom: 10px;
}
.freezy .m-pic_txt.pat1 ul li .icon {
  position: absolute;
  left: 0;
  width: 100px;
  height: 100px;
}
.freezy .m-pic_txt.pat1 ul li .icon img {
  width: 100%;
}
.freezy .m-pic_txt.pat1 ul li .stars {
  color: #949494;
}
.freezy .m-pic_txt.pat1 ul li .stars .bright {
  color: orange;
}
.freezy .m-pic_txt.pat1 .tit {
  font-weight: bold;
}
.freezy .m-pic_txt.pat2 {
  position: relative;
  float: left;
  width: 20%;
  text-align: center;
}
.freezy .m-pic_txt.pat2 a {
  display: block;
}
.freezy .m-pic_txt.pat2 a img {
  width: 94%;
  height: auto;
  text-align: center;
}
.freezy .m-pic_txt.pat2 .con {
  display: none;
  position: absolute;
  bottom: 0;
  width: 94%;
  left: 3%;
  color: #54aede;
  font-size: 14px;
  padding-top: 4px;
  background-color: rgba(0, 0, 0, 0.6);
}
.freezy .m-pic_txt.pat2 .con .tit {
  font-size: 18px;
  font-weight: bold;
  line-height: 200%;
}
.freezy .m-pic_txt.pat2 .con .con-del {
  color: #909090;
}
.freezy .m-pic_txt.pat2.active .con {
  display: block;
}
.freezy .m-page {
  width: 28em;
  margin: 0 auto;
}
.freezy .m-page ul {
  float: left;
}
.freezy .m-page ul li {
  float: left;
  margin-right: 0.5em;
}
.freezy .m-page ul li.active a {
  background: #54aede;
}
.freezy .m-page ul li a {
  padding: 0.5em 1em;
  color: #fff;
  background: #C4C4C4;
  text-decoration: none;
}
.freezy .m-page ul li a:hover {
  color: #fff;
  background: #54aede;
  text-decoration: none;
  cursor: pointer;
}
.freezy .m-page input {
  float: left;
  height: 2em;
  width: 3em;
  text-align: center;
  position: relative;
  bottom: 0.5em;
}
.freezy .m-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}
.freezy .m-table thead {
  background: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}
.freezy .m-table thead th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}
.freezy .m-table tbody td {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}
.freezy .m-tab {
  border: 1px solid #cbcbcb;
}
.freezy .m-tab ul.m-tab-tit {
  background: #f8f8f8;
  overflow: hidden;
}
.freezy .m-tab ul.m-tab-tit li {
  float: left;
  width: 25%;
}
.freezy .m-tab ul.m-tab-tit li.active a {
  background: white;
  border-bottom: 1px solid #fff;
}
.freezy .m-tab ul.m-tab-tit li a {
  display: block;
  padding: 0.5em 1.2em;
  border-left: 0;
  border-bottom: 0;
  text-align: center;
  font-size: 14px;
  color: #399dd8;
  text-decoration: none;
  border-right: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  cursor: pointer;
}
.freezy .m-tab ul.m-tab-tit li a.last {
  border-right: 0;
}
.freezy .m-tab .m-tab-con {
  padding: 1em;
}
.freezy .m-tab .m-tab-con .con {
  display: none;
  border-top: 0;
}
.freezy .m-tab .m-tab-con .con.active {
  background: white;
  display: block;
}
.freezy .m-pop {
  display: none;
}
.freezy .m-pop .shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.freezy .m-pop .m-pop-con {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 2;
  width: 500px;
  margin-left: -250px;
  border: 1px solid #ddd;
  background-color: #FAFAFA;
}
.freezy .m-pop .m-pop-con h2 {
  margin: 0;
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  background: #F1F1F1;
  text-align: center;
}
.freezy .m-pop .m-pop-con h2 span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.freezy .m-pop .m-pop-con .main {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}
.freezy .m-pop .m-pop-con .btns {
  padding: 10px 0;
  overflow: hidden;
  padding-left: 150px;
  background-color: #F1F1F1;
}
.freezy .m-pop .m-pop-con .btns .ok {
  margin-right: 20px;
}
.freezy .m-pop .m-pop-con .btns .cancel {
  background-color: #C5C5C5;
  border: 1px solid #A7A7A7;
}
.freezy .m-pop .m-pop-con .btns .cancel:hover {
  background-color: #B9B9B9;
}
.freezy .m-ser {
  position: relative;
  width: 320px;
  height: 44.8px;
  margin-top: 12px;
}
.freezy .m-ser input {
  width: 76%;
  height: 41.8px;
  border: 0;
  padding-left: 6px;
  line-height: 44px;
  font-size: 14px;
  border: 1px solid #54aede;
  border-left: 0;
}
.freezy .m-ser .m-ser-btn {
  position: absolute;
  border-left: 1px solid #54aede;
  top: 0;
  right: 0;
  width: 20%;
  height: 44.8px;
  cursor: pointer;
  text-align: center;
}
.freezy .m-ser .m-ser-btn .iconfont {
  line-height: 44.8px;
  font-size: 32px;
}
.freezy .m-ser.pat1 {
  border: 1px solid #54aede;
}
.freezy .m-ser.pat1 input {
  border: 0;
}
.freezy .m-ser.pat2 .m-ser-item {
  float: left;
  width: 20%;
  font-size: 12px;
  text-align: center;
  line-height: 43.8px;
  position: relative;
  border: 1px solid #54aede;
}
.freezy .m-ser.pat2 .m-ser-item #ser-second {
  margin-top: 1px;
  width: 100%;
  border-top: 1px solid #54aede;
  display: none;
}
.freezy .m-ser.pat2 .m-ser-item .down-ang {
  position: absolute;
  right: 4px;
  top: 0;
}
.freezy .m-icon_btn {
  float: left;
  margin-bottom: 12px;
  width: 20%;
  height: 120px;
}
.freezy .m-icon_btn .icon {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.freezy .m-icon_btn .icon img {
  width: 100%;
}
.freezy .m-icon_btn .tit {
  text-align: center;
  font-size: 16px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.freezy .m-icon_btn .u-btn-p {
  width: 80%;
  margin: 0 auto;
}
.freezy .m-icon_btn .u-btn-p .u-btn {
  width: 100%;
  text-align: center;
  padding: 3px 0;
  margin: 0 auto;
  display: none;
}
.freezy .m-icon_btn.active .tit {
  display: none;
}
.freezy .m-icon_btn.active .u-btn {
  display: inline-block;
}
.freezy .m-rank {
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.freezy .m-rank li {
  font-size: 14px;
  padding-bottom: 10px;
}
.freezy .m-rank li span {
  float: left;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin-right: 15px;
  margin-top: 15px;
}
.freezy .m-rank li span.first {
  background-color: #D70500;
  color: #fff;
}
.freezy .m-rank li span.second {
  background-color: #D75B00;
  color: #fff;
}
.freezy .m-rank li span.third {
  background-color: #FF8124;
  color: #fff;
}
.freezy .m-rank li a {
  display: none;
  text-decoration: none;
}
.freezy .m-rank li a img {
  width: 50px;
  height: 50px;
}
.freezy .m-rank li .r {
  display: inline-block;
}
.freezy .m-rank li .r a {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 224px;
  color: #2E2E2E;
  padding-top: 8px;
}
.freezy .m-rank li .r p {
  font-size: 12px;
  color: #959090;
  line-height: 14px;
  display: none;
}
.freezy .m-rank li .r .u-btn {
  padding: 2px 4px;
  display: none;
}
.freezy .m-rank li.active a {
  display: inline-block;
}
.freezy .m-rank li.active .r a {
  width: 134.4px;
  padding-top: 0;
}
.freezy .m-rank li.active .r p {
  display: block;
}
.freezy .m-rank li.active .r .u-btn {
  display: block;
}
.freezy .m-slider {
  position: relative;
  width: 960px;
  height: 300px;
  margin: 0 auto;
}
.freezy .m-slider.pat1 {
  overflow: hidden;
}
.freezy .m-slider.pat1.vert {
  height: 500px;
}
.freezy .m-slider.pat1.vert img {
  width: 100%;
  height: auto;
}
.freezy .m-slider.pat1 ul {
  width: 8000px;
  position: absolute;
  left: 0;
}
.freezy .m-slider.pat1 li {
  float: left;
  margin-right: 10px;
}
.freezy .m-slider.pat1 img {
  height: auto;
  width: 400px;
}
.freezy .m-slider.pat1 .btn {
  position: absolute;
  display: block;
  padding: 10px;
  background-color: #964D7C;
  z-index: 1;
  top: 50%;
  margin-top: -30px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.freezy .m-slider.pat1 .btn.right {
  right: 0;
}
.freezy .m-more .txt {
  height: 36px;
  overflow: hidden;
}
.freezy .m-more .btns {
  display: block;
  width: 50%;
  margin: 10px auto;
  border-top: 1px solid #D0D0D0;
  text-align: center;
  padding-top: 3px;
}
.freezy .m-more .btns .btn {
  padding: 4px 6px;
  color: #fff;
  background-color: #D0D0D0;
  cursor: pointer;
}
.freezy .m-more .btns .btn.less {
  display: none;
}
.freezy .m-login {
  margin: 0 auto;
  padding: 18px 20px 40px;
  width: 260px;
  background: #fff;
  border-radius: 2px;
  background-color: #15577E;
}
.freezy .m-login h1 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.freezy .m-login form .login-input {
  display: block;
  width: 90%;
  height: 38px;
  line-height: 38px;
  margin-bottom: 20px;
  padding: 0 5%;
  background: #fff;
  border: 1px solid #2d88bf;
  border-radius: 2px;
}
.freezy .m-login form .u-btn {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.freezy .m-login form label {
  color: #fff;
}
.freezy .m-login form p {
  text-align: right;
  margin-top: 10px;
  font-size: 12px;
}
.freezy .m-login form p a {
  color: #fff;
  text-decoration: none;
}
.freezy .m-login form p a:hover {
  text-decoration: underline;
}
.freezy .m-login.sign .login-input {
  margin-top: 6px;
}
